body {
    background: #e6e6e6;
    font-family: Lato;
    width: 100%;
    margin: 0px;
    height: 100%;
}

header {
    background: #223843;
    width: 12%;
    height: 100vh;
    position: fixed;
    top: 0px;
    text-align: center
}

header nav img{
    width: 70%;
    margin-top: 20%;
}
header nav ul {
    width: 70%;
    margin: 0%;
    padding: 15%;
    text-align: left;
}

header nav ul li {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    border-bottom: 2px;
}

header nav ul li a {
    color: #e6e6e6;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #f46036;
    text-decoration: underline;
}
#generalcontent {
    width: 78%;
    float: right;
    padding: 5%;
  
}

#description-Ana {
    background: url(../images/about-photo-ana.png) no-repeat 10%;
    width: 50%;
    height: 100%;
    float: left;
    padding: 16% 0% 16% 50%;
}

.gallery{
    display: block;
    width: 30%;
    margin: 1%;
    float: left;
}

#contact-space{
background: url(../images/logo_contact.svg) no-repeat;
background-position: 85% 20%;
background-size: 10%;
margin: 5% 20%;
padding: 5%;
border: 5px solid #f46036;
border-radius: 6px;
height: 300px;
}

#contact-space ul{
    list-style-type: none;
    margin: 0px
}

#contact-space li{
    margin: 10px 0px;
}
#contact-space a{
    color: #223843;
    text-decoration: none;
}
#contact-space h3 {
    font-size: 3em;
    color: #f46036;
    text-align: center
}

#contact-social{
    width: 49%;
    float: left;
    border-right: 3px dotted #f46036;
}

#contact-message{
    width: 40%;
    padding: 0% 5%;
    float: left;
}

#contact-message input{
    width: 100%;
    border: none;
    border-bottom: #f46036 solid;
    background-color: #e6e6e6;
    padding: 2%;
    margin-bottom: 1%;
}

#contact-message input[type=textarea]{
    height: 100px;
}